*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    text-align: center;
    padding: 32px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 6px;
}
/* Criaremos 4 colunas iguais que fique umas das outras */
.coluna{
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.coluna img{
    margin-top: 8px;
    vertical-align: middle;
}

/* Layout Responsivo - Cria um layout de duas 
colunas em vez de 4 colunas */
@media(max-width:800px){
    .coluna{
        flex: 50%;
        max-width: 50%;
    }
}

/* Layout Responsivo - Faz com que as duas 
colonas fiquem empilhasdas 
uma em cima da outra em vez de uma do lado
 da outra */
@media(max-width:600px){
    .coluna{
        flex: 100%;
        max-width: 100%;
    }
    
}